.InputcheckBox-component {
    width: auto;
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    gap: 0 8px;

    .input-check {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
      }

      .input-lable {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #344054;
        cursor: pointer;
      }

      .input-lable:before {
        content: '';
        background-color: transparent;
        border: 2px solid #D0D5DD; 
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 6px;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 8px;
      }
      
      .input-check:checked + .input-lable:after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 6px;
        width: 3px;
        height: 7px;
        border: solid #D0D5DD;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
      
}
